.active {
    color: red;
}

input[type=radio]:checked + label {
    color: red;
}

section, body > header {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

#items h2 {
  display: inline-block;
}

#items h3 {
  margin-top: 0;
}

#items.show {
  display: block;
}


#items.hide {
  display: none;
}

#items input:checked + label {
  color: red;
  text-decoration: line-through;
}
